<form  action="/landmarks" method="post">
<p>
  Landmark Name: <input type="text" name="landmark[name]" id="landmark_name" >
</p>
<p>
  Completed Year: <input type="text" id="landmark_year_completed" name="landmark[year_completed]" >
</p>
<br>
<input type="submit" name="name" value="Create New Landmark">
</form>
