<h1>Welcome to NYC history site</h1>
<a href="/figures">See All figures</a><br>
<a href="/figures/new">Create a New Figure</a><br>
<a href="/landmarks">See All Landmarks</a><br>
<a href="/landmarks/new">Create a New Landmark</a><br>
