<h1>Welcome to NYC history site</h1>
<a href="/figures">See All figures</a>
<a href="/figures/new">Create a New Figure</a>
<a href="/landmarks">See All Landmarks</a>
<a href="/landmarks/new">Create a New Landmark</a>
